.container
    .column
        .row
            .p-3.mb-4.bg-light.rounded-3
                .container-fluid.py-5
                    .display-5.fw-bold.mb-5
                        Welcome to our About page!
                    .col-md-8.fs-4.mb-4
                        .text-body.text-opacity-75 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean accumsan vehicula euismod. Donec vitae ipsum ut est mattis aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    %button.btn.btn-primary.btn-lg Join Us!
        .row
            .col
                .card
                    .card-header
                        %i.fa-sharp.fa-solid.fa-marker.fa-2xl.mb-5.mt-5
                        %h1 Web Design
            .col
                .card
                    .card-header
                        %i.fa-sharp.fa-solid.fa-mug-saucer.fa-2xl.mb-5.mt-5
                        %h1 Consultancy            
            .col
                .card
                    .card-header
                        %i.fa-sharp.fa-solid.fa-server.fa-2xl.mb-5.mt-5
                        %h1 Hosting